<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help | Thrifty Nifty</title>
</head>
<body>
    <h1>
        /347896/data/nifty/index/all/sort/sortby
    </h1>
    <h5>Options for URL</h5>
    <table>
        <tr>
            <td>
                index
            </td>
            <td>
                <ul>
                    <li>50</li>
                    <li>it</li>
                    <li>pharma</li>
                    <li>auto</li>
                    <li>bank</li>
                    <li>fmcg</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                sortby
            </td>
            <td>
                <ul>
                    <li>mcap</li>
                    <li>price</li>
                    <li>chng</li>
                    <li>alph</li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>